#myHeader {
    background-color: navy;
    text-align: center;
    color: oldlace;
    padding-top: 4pt;
    padding-bottom: 4pt;
    } 

    .column { 
        width:30%;
        background-color: lightgray;
    }

    .card-body { 
        width:95%;
        background-color: lightgray;
    }

    .columnTwo { 
        width:69%;
        float: right;
        margin-left: 1%;
    }

    .weatherContent { 
        width:90%;
        background-color: lightgray;
        padding-top: 15pt;
        padding-left: 10pt;
        padding-right: 5pt;
        padding-bottom: 15pt;
        border-style: solid;
    }

    Example
    * {
      box-sizing: border-box;
    }
    
    /* Style the search field */
    form.example input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 60%;
      background: #f1f1f1;
    }
    
    /* Style the submit button */
    form.example button {
      float: left;
      width: 20%;
      padding: 10px;
      background: #2196F3;
      color: white;
      font-size: 17px;
      border: 1px solid grey;
      border-left: none; /* Prevent double borders */
      cursor: pointer;
    }
    
    form.example button:hover {
      background: #0b7dda;
    }
    
    /* Clear floats */
    form.example::after {
      content: "";
      clear: both;
      display: table;
    }
    .citiesPrevSearched {
        color: darkgrey;
        padding-top: 6pt;
        padding-left: 10pt;
        padding-right: 5pt;
        padding-bottom: 6pt;
        margin-top: 5%;
        width: 85%;
        border-style: solid;
        background-color: white;
    }

    .futureWeather {
        margin-top: 2%;
    }